{% extends "base_session.html" %}
{% block titulo %} Users list {% endblock %}
{% block contenido_principal %}

<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/listUsers">
            <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control"
                       placeholder="User's name" name="search"/>
                <span class="input-group-btn">
                    <button class="btn" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<h2>Usuarios</h2>
<div class="table-responsive" style="text-align: center;">
    <table id="datos" class="table table-hover"
           style="margin: 0 auto; text-align: center;">
        <thead>
        <tr>
            <th style="text-align: center;">Email</th>
            <th style="text-align: center;">Nombre</th>
            <th style="text-align: center;">Apellido</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>
                <a href="/peticion/{{user.email}}" name="peticion">Agregar amigo</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row text-center">
    <ul class="pagination">
        {% for page in pages %}
        <li class="page-item" id="pi-{{ page }}">
            <a name="paginacion" class="page-link" href="/listUsers?pg={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
        <script>
            $("#pi-{{ actual }}").addClass("active");
        </script>
    </ul>
</div>

{% endblock %}